{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Plans d'hélicoptère{% endblock %}</title>
    {% block headJsCss %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="{% static 'plans/js/jquery/jquery.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'plans/js/jquery-ui/jquery-ui.js' %}">
    </script>
    <link type="text/css" rel="stylesheet" href="{% static 'plans/css/base.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'plans/js/jquery-ui/css/smoothness/jquery-ui.css' %}" />
    {% endblock %}
    {% block onload %}
    <!-- javascript à exécuter au démarrage -->
    {% endblock %}
  </head>
  <body>
    <h1>{% block contentTitle %}Plans d'hélicoptère{% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
