{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Helicopter: main page" %}{% endblock %}
{% block contentTitle %}{% trans "Helicopter: main page" %}{% endblock %}
{% block onload %}
<script type="text/javascript">
  $( function() { // lancement après le chargement
    $( "#userinfo" ).accordion({
      collapsible: true,
      active: false,
    });
  });
</script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% block userinfo %}
    <div id="userinfo">
      <h3>
	{% block welcome %}
	{% blocktrans with first_name=user.first_name last_name=user.last_name %}
	<img src="/static/plans/img/flag-en.png" width="30px" alt="English flag" />
	Welcome {{first_name}} {{last_name}}
	{% endblocktrans %}
	{% ifequal estprof "prof" %}
	<br/><span class="remark">{% trans "teacher" %}</span>
	{% endifequal %}
	<br/><span class="remark">{% trans "Click for options ↡" %}</span>
      </h3>
      <ul class="dropdownOptions">
	{% block localoptions %}
	{% if user.is_superuser %}
	<li><a href="/admin/">{% trans "Administration" %}</a></li>
	{% endif %}
	{% endblock %}
	<!-- dernières options : changement de langue, déconnexion -->
	<li>
	  <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
	    <input name="next" type="hidden" value="{{ redirect_to }}" />
	    <select name="language">
              {% get_current_language as LANGUAGE_CODE %}
              {% get_available_languages as LANGUAGES %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
		{{ language.name_local }} ({{ language.code }})
              </option>
              {% endfor %}
	    </select>
	    <input type="submit" value="Go" />
	  </form>
	</li>
	<li><a href="/logout/">{% trans "Disconnect" %}</a></li>
	{% endblock %}
      </ul>
    </div>
    <div style="clear:both"/>
    {% endblock %}
    {% block specificContent %}
    <!-- contenus spécifiques à une catégorie de visiteurs -->
    {% trans "Profile: {{profil}}" %}
    {% endblock %}
    <div id="dialog"><!-- sert pour une boîte de dialogue de jQuery --></div>
    <div id="placeholder-for-fixed-buttons" style="height: 70px;"></div>
    {% endif %}
{% endblock %}
