{% extends "home.html" %}

{% block onload %}
<!-- recopié depuis http://stackoverflow.com/questions/9026867/jquery-accordion-effect-on-a-table -->
<script type="text/javascript">
  function plusMinusToggle(el){
    var sp=$(el).find("span").first();
    if (sp.text()=="+") sp.text("-"); else sp.text("+");
  }
  $(function() {
    $(".listeUtilisateurs tr.controle").find("th").prepend($('<span>+</span>').addClass("bascule")).attr("title",{% trans "'Click to fold/unfold'" %});
    $(".listeUtilisateurs tr:not(.controle)").hide();
  
    $(".listeUtilisateurs tr.controle").click(function(){
      plusMinusToggle(this);
      $(this).nextAll("tr").fadeToggle(500);
    }).eq(0).trigger('click');
  });
  $( function() { // lancement après le chargement
    $( "#userinfo" ).accordion({
      collapsible: true,
      active: false,
    });
  } );
</script>
{% endblock %}
    
{% block localoptions %}
<li>Statut : {{profil}}</li>
{% endblock %}

{% block specificContent %}
<ul>
  <li>
    <a class="legitimateAction" href="/admin/plans">
      {% trans "Design experiments" %}
    </a>
  </li>
</ul>

{% if profs|length > 0 %}
<table class="listeUtilisateurs">
  <tr class="controle">
    <th colspan="2">{% trans "Workshop teachers" %}</th>
  </tr>
  {% for p in profs %}
  <tr>
    <td>{{p.first_name}}</td>
    <td>{{p.last_name}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if eleves|length > 0 %}
<table class="listeUtilisateurs">
  <tr class="controle">
    <th colspan="2">{% trans "Workshop students" %}</th>
  </tr>
  {% for e in eleves %}
  <tr>
    <td>{{e.first_name}}</td>
    <td>{{e.last_name}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if visiteurs|length > 0 %}
<table class="listeUtilisateurs">
  <tr class="controle">
    <th colspan="2">{% trans "Authenticated visitors" %}</th>
  </tr>
  {% for v in visiteurs %}
  <tr>
    <td>{{v.first_name}}</td>
    <td>{{v.last_name}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
