{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Helicopter: main page" %}{% endblock %}
{% block contentTitle %}{% trans "Helicopter: main page" %}{% endblock %}
{% block onload %}
<script type="text/javascript">
  $( function() { // lancement après le chargement
    $( "#userinfo" ).accordion({
      collapsible: true,
      active: false,
    });
  });
</script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% block userinfo %}
    <div id="userinfo">
      <h3>
	{% block welcome %}
	{% blocktrans with first_name=user.first_name last_name=user.last_name %}
	Welcome {{first_name}} {{last_name}}
	{% endblocktrans %}
	{% ifequal estprof "prof" %}
	<br/><span class="remark">{% trans "teacher" %}</span>
	{% endifequal %}
	<br/><span class="remark">{% trans "Click for options ↡" %}</span>
      </h3>
      <ul class="dropdownOptions">
	{% block localoptions %}
	{% if user.is_superuser %}
	<li><a href="/admin/">{% trans "Administration" %}</a></li>
	{% endif %}
	{% endblock %}
	<!-- dernière option : la déconnexion -->
	<li><a href="/logout/">{% trans "Disconnect" %}</a></li>
	{% endblock %}
      </ul>
    </div>
    <div style="clear:both"/>
    {% endblock %}
    {% block specificContent %}
    <!-- contenus spécifiques à une catégorie de visiteurs -->
    {% trans "Profile: {{profil}}" %}
    {% endblock %}
    <div id="dialog"><!-- sert pour une boîte de dialogue de jQuery --></div>
    <div id="placeholder-for-fixed-buttons" style="height: 70px;"></div>
    {% endif %}
{% endblock %}
