body {
    background: wheat;
}

#changelist table thead th {
    /* évite les colonnes trop larges dans l'administration des objets */
    white-space: normal;
    text-align: center;

}

#userinfo {
    float: right;
    width: 300px;
}
